<h1>testing locations-list.hbs</h1>

<!-- <div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-6">
      <h1>{{pageHeader.title}}
        <small>&nbsp;{{pageHeader.strapline}}</small>
      </h1>
    </div>
  </div>
</div> -->

<!--
<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="error">
      {{message}}
    </div>
    <div class="row">

      {{#each locations}}
        <div class="col-xs-12">
          <div class="panel panel-default">
            <img class='panel-image' src='https://s3-media4.fl.yelpcdn.com/bphoto/K0Mb7ebSa4DRUpEmfDZVuw/90s.jpg' alt="" />
            <h4>
              <a href='/location/#{locations._id}'></a>


              <small>&nbsp;rating stars...</small>

              <span class="badge pull-right badge-default">{{locations.distance}}</span>
            </h4>
            <p class='address'>{{locations.address}}</p>
            <p>
              {{#each locations.facilities}}
                <span class="label label-warning">{{this}}&nbsp;</span>
            </p>

          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <p class='lead'>{{sidebar}}</p>
  </div>
</div> -->
